.App {
    width: 100vw;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.background {
    
    /* margin: auto;
    margin-top: -10vh; */
    /* max-width: 5184px;
    max-height: 3456px; */
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}