.App {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: 'Baloo Tammudu 2', cursive;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}
.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
}
li {
    color: white;
}
li:hover {
    border-bottom: 2px solid white;
}
.background {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 90vh;
    height: auto;
    width: auto;
}