.App {
    background-color: black;
    font-family: 'Baloo Tammudu 2', cursive;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    height: 10vh;
}
.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 25px;
}
.nav {
    color: white;
}
.nav:hover {
    border-bottom: 2px solid white;
    margin-bottom: -2px;
}
.cartIcon {
    max-width: 35px;
    max-height: 35px;
    width: auto;
    height: auto;
    padding-top: 10px;
    margin-bottom: -10px;
}
.Home {
    background-color: black;
    height: 90vh;
}
.background {
    margin: auto;
    display: block;
    max-height: 80%;
    height: auto;
    width: auto;
}